{% extends 'master.html' %}
{% load mathfilters %}

{% block content %}
 
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table style="border-spacing:10px;border-collapse: separate;">
                                <tr>
                                    <td>Filter Date</td>
                                    <td><input type="date" class="form-control" name="search_date" id=""></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" value="Search" class="btn btn-primary" name="" id=""></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    {% if show_total %}
                    <div class="col-md-12" style="position: relative;left: 120px;bottom: 3px;top: 2px;">
                        <p class="h4">Total : Rs {{total}}</p>
                        </div>
                        {% endif %}
                    <div class="col-md-4 stretch-card grid-margin" style="position: relative;top:2px">

                        <table class="table table-responsive-md table-responsive-sm table-primary table-hover">

                            <thead>
                                <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Total Cost</th>
                                    <th scope="col">Total Sales</th>
                                    <th scope="col">Profit</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data_set %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{data.dt}}</td>
                                    <td>Rs {{data.cp}}</td> 
                                    <td>Rs {{data.sp}}</td> 
                                    <td>Rs {{data.sp|sub:data.cp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    
{% endblock %}
                    
                    
                    
                    
                
                  



           
          